<section>
  <div class="artist-search-box">
    <form action="/artist-search" class="artist-search-form" method="GET">
      <input type="text" />
      <button type="submit">Search for an Artist</button>
    </form>
  </div>
</section>